.DS_Store
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
*.RData
*.Rproj
*.Rmd
.snakemake
output
*.yml
*.yaml
tools/dualDemultiplexR
tools/seqTrimR
tools/seqFiltR
tools/seqConsolidateR
tools/blatCoupleR
tools/pytools/__pycache__
analysis/*
genomes/*
sampleInfo/*
configs/*
tests/*
docs/_build
