.DS_Store
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
*.RData
*.Rproj
.snakemake
output
*.yml
*.yaml
tools/dualDemultiplexR
tools/seqTrimR
tools/seqConsolidateR
tools/blatCoupleR
tools/pytools/__pycache__
analysis/*
genomes/*
