__default__ :
    nCPUs     : 1
    memory    : "{resources.mem_mb}"
    partition : "normal"
    resources : "\"span[hosts=1]\""
    name      : "JOBNAME.{rule}.{wildcards}"
    output    : "{RUN_DIR}/logs/{rule}.{wildcards}.out"
    error     : "{RUN_DIR}/logs/{rule}.{wildcards}.err"

post_align :
    memory    : 500000
    partition : "denovo"

assimilate_sites :
    memory    : 500000
    partition : "denovo"
