r-base
r-argparse
r-pander
r-stringr
r-dplyr
r-data.table
r-matrix
r-igraph
r-rmysql
r-rsqlite
r-devtools
r-knitr
r-reldist
r-reshape2
r-ggplot2
r-scales
r-pubmedwordcloud
r-rcolorbrewer
bioconductor-biocgenerics
bioconductor-genomicranges
bioconductor-bsgenome
bioconductor-hiannotator
bioconductor-biostrings
bioconductor-shortread
bioconductor-rsamtools
snakemake
blat
bwa
samtools
